body{
  background-color: yellow;
    
}
h1{
    text-align: center;
  color: blue;
}
p{
    text-align: center;
    color:orange;
}
li{
  
    font-weight: bolder;
    font-size: large;
    list-style:decimal-leading-zero;
    margin:10px;
    color: red;
    text-align: center;
}
button{
  font-size: medium;
  background-color: red;
  color: whitesmoke;
  border: dotted 2px whitesmoke;
}